.isHidden {
    display: none;
}

#teams {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.rTeam {
    color: red;
}

.bTeam {
    color: blue;
}